.container
  %hr
    .row
      .col-md-4
        .panel.panel-default
          .panel-heading
            %h3 Problemas Facebook
          .panel-body
            La aplicación Social Manager tiene un problema a la hora de postear debido a que no tenemos acceso para poder postear,debido a que Facebook no nos ha dado permiso ya que la nos han implementado las funciones de posteo en Facebook.
            Podemos realizar las funciones de logueo sin ningún problema,como podemos ver en la aplicación Social Manager.
      .col-md-4
        .panel.panel-default
          .panel-heading
            %h3 Problema Google +
          .panel-body
            En la aplicación Social Manager con google + con los permisos de postear debido a las restricciones con la Api.Tenemos la opción disponible de logueo en google + debido a la dificultades de la implementación.

      .col-md-4
        .panel.panel-default
          .panel-heading
            %h3 Linkedin y Twitter
          .panel-body
            En la aplicación Social Manager tenemos las redes de sociales Twitter y Facebook,tenemos la posibilidad de loguear y postear.
            La aplicación Social Manager integra en el mismo panel la posibilidad de poderse loguearse con Google,Facebook,Twiiter y Linkedin.Podemos loguearnos de todos a la vez y desloguearte del mismo
            al instante.Tenemos en el panel de control la posibilidad de eliminar el usuario de la app Social Manager.
