.container
  %hr
    .row
      .col-md-4
        .panel.panel-default
          .panel-heading
            %h3 Problemas Facebook
          .panel-body
            La aplicación Social Manager tiene un problema a la hora de postear debido a que no tenemos acceso para poder postear,debido a que Facebook no nos ha dado permiso ya que la nos han implementado las funciones de posteo en Facebook.
            Podemos realizar las funciones de logueo sin ningún problema,como podemos ver en la aplicación Social Manager.
      .col-md-4
        .panel.panel-default
          .panel-heading
            %h3 Problema Google +
          .panel-body
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
      .col-md-4
        .panel.panel-default
          .panel-heading
            %h3 Hello.
          .panel-body
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
