.head{:style=>"text-align:right"}
  %a{:href=>"/settings"}
    %img{:src=>"/img/setting.png",:alt=>"Settings"}
%h1 Bienvenido #{@user}
#enter.panel-footer
  .input-group
    %form{:action=>"/user/index", :method=>"POST", :name=>"input", :role=>"form"}
      %input#text.form-control.input-md{:placeholder => "Escriba su mensaje", :type => "text", :name=>"text",:style=>"color:black"}/
      %span.input-group-btn
        %button#bsend.btn.btn-default{:type=>"submit"} Enviar
%form{:style=>"text-align:center"}
  %strong Postear en:
  %span
    - if @G_on != nil
      %input{:name => "networkG", :type => "checkbox", :value => "google", :checked => ""}
        Google+
    - else
      %input{:name => "networkG", :type => "checkbox", :value => "google"}
        Google+
    - if @T_on != nil
      %input{:name => "networkT", :type => "checkbox", :value => "twitter", :checked => ""}
        Twitter
    - else
      %input{:name => "networkT", :type => "checkbox", :value => "twitter"}
        Twitter
    - if @F_on != nil
      %input{:name => "networkF", :type => "checkbox", :value => "facebook", :checked => ""}
        Facebook
    - else
      %input{:name => "networkF", :type => "checkbox", :value => "facebook"}
        Facebook
%hr
%div{:style=>"text-align:center"}
  %h4 Asociar o desvincular una cuenta
  %span
    - if @G_on != nil
      %a.btn.btn-danger{:href=>"/desvincular/google",:role=>"button"} Desvincular Google+
    - else
      %a.btn.btn-danger{:href=>"/auth/google_oauth2",:role=>"button"} Sign In Google+
    - if @T_on != nil
      %a.btn.btn-info{:href=>"/desvincular/twitter",:role=>"button"} Desvincular Twitter
    - else
      %a.btn.btn-info{:href=>"/auth/twitter",:role=>"button"} Sign In Twitter
    - if @F_on != nil
      %a.btn.btn-primary{:href=>"/desvincular/facebook",:role=>"button"} Desvincular Facebook
    - else
      %a.btn.btn-primary{:href=>"/auth/facebook",:role=>"button"} Sign In Facebook
%hr
%a{:href => "https://plus.google.com/share?url={URL}", :onclick => "javascript:window.open(this.href,\r\n  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"}
  %img{:alt => "Share on Google+", :src => "https://www.gstatic.com/images/icons/gplus-64.png"}/
%button.g-interactivepost{"data-contenturl" => "https://plus.google.com/pages/","data-calltoactiondeeplinkid" => "/pages/create", "data-calltoactionlabel" => "CREATE", "data-calltoactionurl" => "http://plus.google.com/pages/create", "data-clientid" => "1059315270874-gjtv1aph7empima3g6t1t0ioco307pdv.apps.googleusercontent.com", "data-contentdeeplinkid" => "/pages", "data-cookiepolicy" => "single_host_origin", "data-prefilltext" => "Post en google+."}
  Tell your friends
%hr
%div{:style=>"text-align:center"}
  %a.btn.btn-default{:href=>"/logout",:role=>"button"} Sign Out
/ %button.g-interactivepost{"data-calltoactiondeeplinkid" => "/pages/create", "data-calltoactionlabel" => "CREATE", "data-calltoactionurl" => "http://plus.google.com/pages/create", "data-clientid" => "xxxxx.apps.googleusercontent.com", "data-contentdeeplinkid" => "/pages", "data-contenturl" => "https://plus.google.com/pages/", "data-cookiepolicy" => "single_host_origin", "data-prefilltext" => "Engage your users today, create a Google+ page for your business."}