%h1 Bienvenido #{@user}
#enter.panel-footer
  .input-group
    %input#text.form-control.input-md{:placeholder => "Escriba su mensaje", :type => "text"}/
    %span.input-group-btn
      %button#bsend.btn.btn-default Enviar
%form
  %strong Postear en:
  %span
    - if @G_on != nil
      %input{:name => "networkG", :type => "checkbox", :value => "google", :checked => ""}
        Google+
    - else
      %input{:name => "networkG", :type => "checkbox", :value => "google"}
        Google+
    - if @T_on != nil
      %input{:name => "networkT", :type => "checkbox", :value => "twitter", :checked => ""}
        Twitter
    - else
      %input{:name => "networkT", :type => "checkbox", :value => "twitter"}
        Twitter
    - if @F_on != nil
      %input{:name => "networkF", :type => "checkbox", :value => "facebook", :checked => ""}
        Facebook
    - else
      %input{:name => "networkF", :type => "checkbox", :value => "facebook"}
        Facebook
%hr
%h4 Asociar una cuenta
%span
  %a.btn.btn-danger{:href=>"/auth/google_oauth2",:role=>"button"} Sign In Google+
  %a.btn.btn-info{:href=>"/auth/twitter",:role=>"button"} Sign In Twitter
  %a.btn.btn-primary{:href=>"/auth/facebook",:role=>"button"} Sign In Facebook
%hr
%h4 Desvincular una cuenta
%span
  %a.btn.btn-danger{:href=>"/desvincular/google",:role=>"button"} Desvincular Google+
  %a.btn.btn-info{:href=>"/desvincular/twitter",:role=>"button"} Desvincular Twitter
  %a.btn.btn-primary{:href=>"/desvincular/facebook",:role=>"button"} Desvincular Facebook
%hr
%a{:href => "https://plus.google.com/share?url={URL}", :onclick => "javascript:window.open(this.href,\r\n  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"}
  %img{:alt => "Share on Google+", :src => "https://www.gstatic.com/images/icons/gplus-64.png"}/
%hr
%a.btn.btn-default{:href=>"/logout",:role=>"button"} Sign Out
