%h1 Bienvenido %usuario%
#enter.panel-footer
  .input-group
    %input#text.form-control.input-md{:placeholder => "Escriba su mensaje", :type => "text"}/
    %span.input-group-btn
      %button#bsend.btn.btn-default Enviar
%form
  %strong Postear en: 
  %span
    %input{:name => "network", :type => "checkbox", :value => "google", :checked => ""}
      Google+
    %input{:name => "network", :type => "checkbox", :value => "twitter", :checked => ""}
      Twitter
    %input{:name => "network", :type => "checkbox", :value => "facebook", :checked => ""}
      Facebook
%hr
%h4 Asociar a una cuenta
%span
  %a.btn.btn-danger{:href=>"/auth/google_oauth2",:role=>"button"} Sign In Google+
  %a.btn.btn-info{:href=>"/auth/twitter",:role=>"button"} Sign In Twitter
  %a.btn.btn-primary{:href=>"/auth/facebook",:role=>"button"} Sign In Facebook
%hr
%a.btn.btn-default{:href=>"/logout",:role=>"button"} Sign Out
