!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html, charset=utf-8"}
    %title Social Manager
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/icons/socialman.ico", :rel => "shortcut icon"}
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src=>"//html5shim.googlecode.com/svn/trunk/html5.js"}
    %script{:src => "/js/bootstrap.min.js"}
    %script{:src => "/js/bootstrap.js"}
    %link{:href => "/css/custom.css", :rel => "stylesheet"}
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href=>"http://fonts.googleapis.com/css?family=Merienda+One" , :rel=>"stylesheet" , :type=>"text/css"}
  %body
    =yield
  %footer
    .container
      .row.text-center
        %br
        %p
          Creditos
        %span
          %a#jz{:href => "https://github.com/alu0100595727"} Jazer
          &
          %a#jc{:href => "https://github.com/alu0100505023"} Javier
          &
          %a#aa1{:href => "http://alu0100207385.github.io"} Aarón Socas
          &r
          %a#aa2{:href => "https://github.com/alu0100537451"} Aarón Vera
        %br
        %a#repo{:href => "https://github.com/TEC-INFO-GROUP/SocialManager"} Proyecto
        %br
        %a#help{:href => "/help"} Help
        %br
        %a#repo{:href => "http://www.ull.es/"} ULL
        &#45; SYTW - Copyright ©2014-2015
  %script{:src=> "https://code.jquery.com/jquery-2.1.1.min.js"}
