.container-full
  %h1 #{@user}
  %form{:action=>"/recovery", :method=>"POST", :name=>"input", :role=>"form",:style=>"text-align:center"}
    %label{:for => "password"}* Enter your new password
    %input.form-control#password{:name => "password", :type => "text", :required => "required",:placeholder => "yournickname", :style => "width:30%; display:inline;"}
    %button.btn.btn-primary.btn-md.center-block Send