%label{:for => "nickname"}* Introduce tu nick y te enviaremos un email de recuperacion:
%input.form-control#nickname{:name => "nickname", :type => "text", :required => "required",:placeholder => "yournickname", :style => "width:30%; display:inline;"}
%label{:for => "mail"}* Si no te acuerda de tu nick, introduce el email desde donde te registrastes:
%input.form-control#mail{:name => "mail", :type => "email", :required => "required",:placeholder => "youremail@email.com",:style => "position:relative;right:-14px;width:30%; display:inline;"}