.container-full
  .row
    .col-lg-12.text-center.v-center
      .row
        %h1 Account recovery
      .row{:style=>"padding-top:20px;margin-top: 50px;"}
        %form{:action=>"/recuperarn", :method=>"POST", :name=>"input", :role=>"form",:style=>"text-align:center margin-top:50px;"}
          .row{:style => "padding-top:20px"}
          .col-md-3
          .col-md-6.text-center
            %label{:for => "nickname"}* Enter your nickname and we'll email recovery:
            %input.form-control{:name => "nickname", :type => "text", :required => "required",:placeholder => "yournickname", :style => "width:30%; display:inline;"}
          .row{:style=>"padding-top:20px;"}
          .col-md-3
          .col-md-6.text-center
            %button.btn.btn-primary.btn-md{:style => "width:10%; display:inline;"} Send
      .row{:style=>"padding-top:20px;"}
      .col-md-3
      .col-md-6.text-center
        %form{:action=>"/recuperarm", :method=>"POST", :name=>"input", :role=>"form",:style=>"text-align:center;margin-top:50px;"}
          .row
          .col-md-3
          .col-md-6.text-center
            %label{:for => "mail"}* If you do not remember your nickname, enter your email where you signed up:
            %input.form-control{:name => "mail", :type => "email", :required => "required",:placeholder => "youremail@email.com",:style => "position:relative;width:30%; display:inline;"}
          .row{:style=>"padding-top:20px;"}
          .col-md-3
          .col-md-6.text-center
            %button.btn.btn-primary.btn-md{:style => "width:10%; display:inline;"} Send
      .row{:style=>"padding-top:100px;"}
      .col-md-3
      .col-md-6.text-center
        %a.btn.btn-primary.btn-md.center-block{:href => "/", :style => "width:10%;"} Back
