.container-full-index
  %h1 Settings
  %hr{:style => "border-width:4px;"}
  %h3 Profile #{@user.nickname}
  %ul
    %li Name: #{@user.name}
    %li Email: #{@user.mail}
    - if @asociadas.length != 0
      %li Linked networks: #{@asociadas}
    - else
      %li Linked networks: no
  %h3 Modify profile
  %p Aqui el usuario podra cambiar su pass, correo, etc.
  %hr
  %h3 Link or unlink an account
  %span
    - if @asociadas.include? ("Google")
      %a.btn.btn-danger{:href=>"/desvincular/google",:role=>"button"} Unlink Google+
    - else
      %a.btn.btn-danger{:href=>"/auth/google_oauth2",:role=>"button"} Sign In Google+
    - if @asociadas.include? ("Twitter")
      %a.btn.btn-info{:href=>"/desvincular/twitter",:role=>"button"} Unlink Twitter
    - else
      %a.btn.btn-info{:href=>"/auth/twitter",:role=>"button"} Sign In Twitter
    - if @asociadas.include? ("Facebook")
      %a.btn.btn-facebook{:href=>"/desvincular/facebook",:role=>"button"} Unlink Facebook
    - else
      %a.btn.btn-facebook{:href=>"/auth/facebook",:role=>"button"} Sign In Facebook
    - if @asociadas.include? ("Linkedin")
      %a.btn.btn-linkedin{:href=>"/desvincular/linkedin",:role=>"button"} Unlink Linkedin
    - else
      %a.btn.btn-linkedin{:href=>"/auth/facebook",:role=>"button"} Sign In Linkedin
  %a.btn.btn-warning{:href=>"/desvincular/all",:role=>"button"} Unlink all
  %hr
  %h3 Unsubscribe my account
  %p El usuario podra darse de baja de la app (eliminar su cuenta y datos de la bbdd)
  %a.btn.btn-danger.btn-squaredanger{:href=>"/killuser",:role=>"button"} Delete user
  %div{:style=>"text-align:center"}
    %a.btn.btn-primary{:href=>"/user/index",:role=>"button"} Back
