.container-full-index
  %h1 Settings
  %hr{:style => "border-width:4px;"}
  %h3{:style=>"color:white;"} Perfil #{@user.nickname}
  %ul
    %li Name: #{@user.name}
    %li Correo: #{@user.mail}
    - if @asociadas.length != 0
      %li Redes asociadas: #{@asociadas}
    - else
      %li Redes asociadas: ninguna
  %h3{:style=>"color:white;"} Modificar perfil
  %p Aqui el usuario podra cambiar su pass, correo, etc.
  %hr
  %h3{:style=>"color:white;"} Asociar o desvincular una cuenta
  %span
    - if @G_on != nil
      %a.btn.btn-danger{:href=>"/desvincular/google",:role=>"button"} Desvincular Google+
    - else
      %a.btn.btn-danger{:href=>"/auth/google_oauth2",:role=>"button"} Sign In Google+
    - if @T_on != nil
      %a.btn.btn-info{:href=>"/desvincular/twitter",:role=>"button"} Desvincular Twitter
    - else
      %a.btn.btn-info{:href=>"/auth/twitter",:role=>"button"} Sign In Twitter
    - if @F_on != nil
      %a.btn.btn-facebook{:href=>"/desvincular/facebook",:role=>"button"} Desvincular Facebook
    - else
      %a.btn.btn-facebook{:href=>"/auth/facebook",:role=>"button"} Sign In Facebook
    - if @L_on != nil
      %a.btn.btn-linkedin{:href=>"/desvincular/linkedin",:role=>"button"} Desvincular Linkedin
    - else
      %a.btn.btn-linkedin{:href=>"/auth/facebook",:role=>"button"} Sign In Linkedin
  %a.btn.btn-warning{:href=>"/desvincular/all",:role=>"button"} Desvincular todo
  %hr
  %h3{:style=>"color:white;"} Darse de baja
  %p El usuario podra darse de baja de la app (eliminar su cuenta y datos de la bbdd)
  %a.btn.btn-danger.btn-squaredanger{:href=>"/killuser",:role=>"button"} Eliminar usuario
  %div{:style=>"text-align:center"}
    %a.btn.btn-primary{:href=>"/user/index",:role=>"button"} Volver
