.container-full-index
  %h1 Settings
  %hr{:style => "border-width:4px;"}
  %h3{:style=>"color:white;"} Profile #{@user.nickname}
  %ul
    %li Name: #{@user.name}
    %li Email: #{@user.mail}
    - if @asociadas.length != 0
      %li Linked networks: #{@asociadas}
    - else
      %li Linked networks: no
  %h3{:style=>"color:white;"} Modify your profile
  %p Fill only the fields you want to modify:
  %form{:action=>"/edit_profile",:method=>"POST",:name=>"input",:role=>"form"}
    .row
      .col-md-6.text-center
        %label{:for => "new_name"} Write the new name: 
        %input.form-control#new_name{:name => "new_name", :type => "text",:style =>"color:black",:placeholder => "your new name",:style => "width:50%; display:inline;"}
    .row{:style => "padding-top:10px;"}
      .col-md-6.text-center
        %label{:for => "new_email"} Write the new email: 
        %input.form-control#new_email{:name => "new_email", :type => "email",:style =>"color:black",:placeholder => "your new email",:style => "width:50%; display:inline;"}
    .row{:style => "padding-top:10px;"}
      .col-md-6.text-center
        %label{:for => "cur_pass"} Write current password: 
        %input.form-control#act_pass{:name => "cur_pass", :type => "text",:style =>"color:black",:placeholder => "current password",:style => "width:50%; display:inline;"}
      .col-md-6.text-center
        %label{:for => "new_pass"} Write the new password: 
        %input.form-control#new_pass{:name => "new_pass", :type => "text",:style =>"color:black",:placeholder => "new password",:style => "width:50%; display:inline;"}
      .row
        -if @warn == 1
          %p Passwords do not match
    .row{:style => "padding-top:20px;"}
      %button.btn.btn-primary.btn-md.center-block#cambiar{:href => "/edit_profile"} Change
  %hr
  %h3{:style=>"color:white;"} Link or unlink an account
  %span
    - if @asociadas.include? ("Google")
      %a.btn.btn-danger{:href=>"/desvincular/google",:role=>"button"} Unlink Google+
    - else
      %a.btn.btn-danger{:href=>"/auth/google_oauth2",:role=>"button"} Sign In Google+
    - if @asociadas.include? ("Twitter")
      %a.btn.btn-info{:href=>"/desvincular/twitter",:role=>"button"} Unlink Twitter
    - else
      %a.btn.btn-info{:href=>"/auth/twitter",:role=>"button"} Sign In Twitter
    - if @asociadas.include? ("Facebook")
      %a.btn.btn-facebook{:href=>"/desvincular/facebook",:role=>"button"} Unlink Facebook
    - else
      %a.btn.btn-facebook{:href=>"/auth/facebook",:role=>"button"} Sign In Facebook
    - if @asociadas.include? ("Linkedin")
      %a.btn.btn-linkedin{:href=>"/desvincular/linkedin",:role=>"button"} Unlink Linkedin
    - else
      %a.btn.btn-linkedin{:href=>"/auth/facebook",:role=>"button"} Sign In Linkedin
  %a.btn.btn-warning{:href=>"/desvincular/all",:role=>"button"} Unlink all
  %hr
  %h3{:style=>"color:white;"} Unsubscribe my account
  %a.btn.btn-danger.btn-squaredanger{:href=>"/killuser",:role=>"button"} Delete user
  %div{:style=>"text-align:center"}
    %a.btn.btn-primary{:href=>"/user/index",:role=>"button"} Back
