.container-full
  .section-heading{:style => "position:relative; top:-30px;"}
    %h1{:style => "color:white"} Welcome to Social Manager
  .row{:style => "position:relative; top:-120px;"}
    .col-md-12.text-center
      %h3.block-center{:style => "color:white;text-decoration:underline;"} Registration
      %p#text
      .row{:style => "padding-top:20px"}
        .col-md-3
        .col-md-6.text-center
          %label{:for => "name"} * Name:
          %input.form-control#name{:name => "name", :type => "text", :required => "required" ,:placeholder => "yourname",:style => "position:relative;right:-9px;width:30%; display:inline;"}
        .col-md-3
      .row{:style => "padding-top:20px"}
        .col-md-3
        .col-md-6.text-center
          %label{:for => "nickname"}* Nickname:
          %input.form-control#nickname{:name => "nickname", :type => "text", :required => "required",:placeholder => "yournickname", :style => "width:30%; display:inline;"}
        .col-md-3
      .row{:style => "padding-top:20px"}
        .col-md-3
        .col-md-6.text-center
          %label{:for => "mail"}* Email:
          %input.form-control#mail{:name => "mail", :type => "email", :required => "required",:placeholder => "youremail@email.com",:style => "position:relative;right:-14px;width:30%; display:inline;"}
        .col-md-3
      .row{:style => "padding-top:20px;padding-bottom:20px;"}
        .col-md-3
        .col-md-6.text-center
          %label{:for => "password"} * Password:
          %input.form-control#password{:name => "password", :type => "password", :required => "required", :placeholder => "*****", :style => "width:30%; display:inline;"}
        .col-md-3
      .row{:style => "padding-bottom:20px;"}
        %p * All fields are required
      .row{:style => "padding-bottom:20px;"}
        %button.btn.btn-primary.btn-md.center-block#Registrarse Sign in
      .row
        %a#return.btn.btn-primary.btn-md.center-block{:href => "/", :style => "width:220px;"} <b>Back
%script{:src => "/js/signup.js"}
