%h1 Bienvenido a Social Manager
.row
  .col-md-2
  .col-md-8
    .jumbotron#jumbotron

      %h3 Registro
      .row{:style => "padding-top:20px"}
        %label{:for => "name"} Nombre:
        %input#name{:name => "name", :type => "text"}
      .row{:style => "padding-top:20px"}
        %label{:for => "nickname"} Nickname:
        %input#nickname{:name => "nickname", :type => "text"}
      .row{:style => "padding-top:20px"}
        %label{:for => "email"} Email:
        %input#email{:name => "email", :type => "email"}
      .row{:style => "padding-top:20px;padding-bottom:20px;"}
        %label{:for => "password"} Password:
        %input#password{:name => "password", :type => "password"}
      %button.btn.btn-danger.center-block{:type => "submit", :id => "Registrarse"} Registrarse
  .col-md-2
%script{:src => "/js/signup.js"}
