%section#getApp
  .container
    .section-heading
      %h1 Bienvenido a Social Manager
    .row
      .col-md-10.text-center
        %form{:action=>"/signup", :method => "POST"}
          .row{:style => "padding-top:20px"}
            %label{:for => "name"} Nombre
            %input{:name => "name", :type => "text"}
          .row{:style => "padding-top:20px"}
            %label{:for => "nickname"} Nickname
            %input{:name => "nickname", :type => "text"}
          .row{:style => "padding-top:20px"}
            %label{:for => "mail"} Email
            %input{:name => "mail", :type => "email"}
          .row{:style => "padding-top:20px;padding-bottom:20px;"}
            %label{:for => "password"} Password
            %input{:name => "password", :type => "password"}
          %button.btn.btn-primary.btn-md.center-block{:type => "submit"} Registrarse
%script{:src => "/js/signup.js"}
