%h1 Bienvenido a Social Manager
%p#text
.row
  .col-md-7
    .jumbotron
      .row
        .col-md-6
          .row{:style => "padding-top:30px"}
            %label{:for => "nickname"} Nickname:
            %input#nickname{:name => "nickname", :type => "text"}
          .row{:style => "padding-top:20px"}
            %label{:for => "password"} Password:
            %input#password{:name => "password", :type => "password"}
        .col-md-6
          %img.pull-right{:src => "http://i1377.photobucket.com/albums/ah55/Jazer_Abreu/onlinelogomaker-120214-0430_zps811b8aa4.png", :width => "200px", :height => "150px"}
        .row{:style => "padding-top:20px;"}
          %button.btn.btn-primary.btn-md.center-block#login{:type => "submit"} Login
  .col-md-5
    .jumbotron
      %h4 Si no tiene cuenta, empiece aqui

      .row
        .col-md-4
        .col-md-5
          %a.btn.btn-primary.btn-md.center-block{:href=>"/signup",:role=>"button"} Registro
%script{:src => "/js/signin.js"}
