%h1 Bienvenido a Social Manager
%form{:action=>"/signup", :method => "POST"}

    %label{:for => "name"} Introduce tu Nombre
    %input{:name => "name", :type => "text"}
    %label{:for => "nickname"} Introduce tu Nickname
    %input{:name => "nickname", :type => "text"}
    %label{:for => "mail"} Introduce tu email
    %input{:name => "mail", :type => "text"}
    %label{:for => "password"} Introduce tu Password
    %input{:name => "password", :type => "text"}
    %button.btn.btn-danger{:type => "submit"} Registrarse
    
%a.btn.btn-default{:href=>"/auth/:facebook/callback",:role=>"button"} Caga de campos con Facebook