%h1 Bienvenido a Social Manager
%span
%form{:action=>"/sigin", :method => "POST"}
  %label{:for => "nickname"} Introduce tu Nickname
  %input{:name => "nickname", :type => "text"}
  %label{:for => "password"} Introduce tu Password
  %input{:name => "password", :type => "password"}
  %a.btn.btn-primary.btn-lg.active{:href=>"/index",:role=>"button"} Sign In
%a.btn.btn-primary.btn-lg.active{:href=>"/signup",:role=>"button"} Registrarse
