%h1 Bienvenido a Social Manager
.row
  .col-md-7
    .jumbotron
      %form.form-inline{:action=>"/login", :method => "POST"}
        .row
          .col-md-6
            .row{:style => "padding-top:30px"}
              %label{:for => "nickname"} Nickname:
              %input{:name => "nickname", :type => "text"}
            .row{:style => "padding-top:20px"}
              %label{:for => "password"} Password:
              %input{:name => "password", :type => "password"}
          .col-md-6
            %img.pull-right{:src => "http://i1377.photobucket.com/albums/ah55/Jazer_Abreu/onlinelogomaker-120214-0430_zps811b8aa4.png", :width => "200px", :height => "150px"}
        .row{:style => "padding-top:20px;"}
          %button.btn.btn-primary.btn-md.center-block{:href => "/login",:type => "submit"} Login
  .col-md-5
    .jumbotron
      %h2 Registrarse

      .row
        .col-md-4
        .col-md-5
          %a.btn.btn-primary.btn-md.center-block{:href=>"/signup",:role=>"button"} Registrarse
%br
#warning-message{:style => "color:black"}
  - if @control == 1
    %p.bg-danger Nickname inválido. Pruebe con otro.
  - elsif @control == 2
    %p.bg-danger Error en la contraseña. Vuelva a intentarlo.
