.container-full
  .row
    .col-lg-12.text-center.v-center
      %h1{:style => "color:white;position:relative; top:-50px;"}  Bienvenido a Social Manager
      .col-md-4
        .row{:style => "padding-top:30px"}
          %p#text
          %h3{:style => "color:white;"} Login App
          %label{:for => "nickname"} Nickname:
          %input.form-control#nickname{:name => "nickname", :type => "text",:style =>"color:black",:placeholder => "yournickname",:style => "width:50%; display:inline;"}
        .row{:style => "padding-top:20px"}
          %label{:for => "password"} Password:
          %input.form-control#password{:name => "password", :type => "password",:style =>"color:black",:placeholder => "******",:style => "width:50%; display:inline;"}
        //%a{:href => "/recuperar", :style => "width:220px;"} <b>No me acuerdo...
        .row.text-center{:style => "padding-top:20px;"}
        %a.btn.btn-primary.btn-md.center-block{:style=>"width:60%; height:50%;",:href=>"/recuperar"} ¿Olvidastes tu contraseña?
        .row.text-center{:style => "padding-top:20px;"}
          %button.btn.btn-primary.btn-md.center-block#login Login
      .col-md-4
        %img.center-block{:src => "http://i1377.photobucket.com/albums/ah55/Jazer_Abreu/socialmanagerlogo_zps08a79177.png", :width => "50%", :height => "50%"}

      .col-md-4
        .row{:style => "padding-top:60px"}
          %h4{:style => "color:white;"} Si no tiene cuenta, empiece aqui
          %a.btn.btn-primary.btn-md.center-block{:href=>"/signup",:role=>"button",:style=>"width:226px"} Registro
  .row
    .col-lg-12.text-center.v-center
      %h2{:style => "color:white;font-family: 'Merienda One', Helvetica, sans-serif;font-size:15pt;position:relative;top:-20px;"} Tu página para gestionar todas tus redes sociales

  .row{:style => "padding-bottom:0px;margin-bottom:0px;"}
    .col-lg-12.text-center.v-center{:style => "font-size:39pt;position:relative;top:-50px"}
      %a#gplus{:href => "https://plus.google.com/106968097086260015454/posts"}
        %i.icon-google-plus
      %a#fb{:href => "https://www.facebook.com/"}
        %i.icon-facebook
      %a#tw1{:href => "https://twitter.com/"}
        %i.icon-twitter
      %a#gh1{:href => "https://github.com/alu0100207385/SocialManager"}
        %i.icon-github
%script{:src => "/js/signin.js"}
