%h1 Bienvenido a Social Manager
.row
  .col-md-2
  .col-md-8
    .jumbotron
      %h3 Registro
      %form{:action=>"/signup", :method => "POST"}
        .row{:style => "padding-top:20px"}
          %label{:for => "name"} Nombre:
          %input{:name => "name", :type => "text"}
        .row{:style => "padding-top:20px"}
          %label{:for => "nickname"} Nickname:
          %input{:name => "nickname", :type => "text"}
        .row{:style => "padding-top:20px"}
          %label{:for => "mail"} Email:
          %input{:name => "mail", :type => "email"}
        .row{:style => "padding-top:20px;padding-bottom:20px;"}
          %label{:for => "password"} Password:
          %input{:name => "password", :type => "password"}
        %button.btn.btn-danger.center-block{:type => "submit"} Registrarse
  .col-md-2
