%h1 Bienvenido a Social Manager
%form{:action=>"/signup", :method => "POST"}

    %label{:for => "nickname"} Introduce tu Nickname
    %input{:name => "nickname", :type => "text"}
    %label{:for => "mail"} Introduce tu email
    %input{:name => "mail", :type => "text"}
    %label{:for => "password"} Introduce tu Password
    %input{:name => "password", :type => "password"}
    %button.btn.btn-danger{:type => "submit"} Registrarse