%section#support.doublediagonal
  .container-full
    .section-heading
      %h1 Support
      .divider
    .row
      .col-md-12.text-center
        .row
          .col-md-8.col-sm-8.text-center
            %form{:role => "form", :method=>"post"}
              .form-group.text-center
                %input.form-control{:name=>"name",:placeholder => "Your name", :type => "text"}
              .form-group.text-center
                %input.form-control{:name=>"mail",:placeholder => "Your email", :type => "email"}
              .form-group.text-center
                %textarea.form-control{:name=>"text",:cols => "30", :placeholder => "Your message", :rows => "10"}
              %button.btn.btn-primary.btn-lg{:hre=> "/support", :type => "submit"} Submit
          .col-md-4.col-sm-4.contact-details.scrollpoint.sp-effect2.text-center
            .media
              %a.pull-left{:href => "#"}
                %i.fa.fa-map-marker.fa-2x
              .media-body
                %h4.media-heading , La Laguna, ES
            .media
              %a.pull-left{:href => "#"}
                %i.fa.fa-envelope.fa-2x
              .media-body
                %h4.media-heading
                  %a{:href => "mailto:support@oleose.com"} support@socialmanager.com
            .media
              %a.pull-left{:href => "#"}
                %i.fa.fa-phone.fa-2x
              .media-body
                %h4.media-heading +1 234 567890
