.container-full
  .section-heading
    %h1 Support
  .row
    .col-lg-2
    .col-lg-8.text-center.v-center
      %form{:role => "form", :method=>"post"}
        .form-group.text-center
          %input.form-control{:name=>"name",:placeholder => "Your name", :type => "text"}
        .form-group.text-center
          %input.form-control{:name=>"mail",:placeholder => "Your email", :type => "email"}
        .form-group.text-center
          %textarea.form-control{:name=>"text",:cols => "30", :placeholder => "Your message", :rows => "10"}
        %button.btn.btn-primary.btn-lg{:hre=> "/support", :type => "submit"} Submit
    .col-lg-2
